<!DOCTYPE html>

<html>
    <head> 
        <title>About</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">

    </head>

    <body>
        <div class='main-content'>
            {{>header}}
            <p> This site used third party weather APIs to fetch weather information, and this is created by Geeta Ghanti</p>
            <img class= 'portrit' src="/img/profile_pic.jpg">
    </div>
        {{>footer}}
    </body>

</html>